src/main/mule/hello-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8eefdf1-45ee-43b3-b444-45ff1ae00bb9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-gitFlow" doc:id="3df6618e-6914-4177-86eb-b4c819c81580" >
		<http:listener doc:name="Listener" doc:id="92fde177-9562-4d6f-ba22-7513c046fa47" config-ref="HTTP_Listener_config" path="/hg"/>
		<set-payload value='#["Hello Git! How are you?"]' doc:name="Set Payload" doc:id="d3b9b219-6318-405f-8788-a6a5e8d27cac" />
		<logger level="INFO" doc:name="Logger" doc:id="7a5b3c23-db8e-48db-afbe-476bb0f36a16" message="#[payload]"/>
	</flow>
</mule>
